.image{
    width: auto;
    max-width: auto;
    max-height: auto;
    object-fit: contain;

}

h1{
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    size: 200px;
}